html
  body.background-image
    .container
      div(masonry='masonryOptions')
        .masonry-brick
          .widget
            h3 Standard title
            .widget-separator
            | Content will go here
          .widget
            h3 Standard title
            .widget-separator
            | Content will go here
          .widget
            h3 Standard title
            .widget-separator
            | Content will go here
          .widget
            h3 Standard title
            .widget-separator
            | Content will go here