.widget {
  padding:10px;
  width: 600px;
  height:800px;
  background-color:white;
  border-radius: 3px;
  border-color: black;  
  margin-bottom:40px;
  text-align: left;
  overflow:hidden;
  font-size:.8em;
}

.widget-separator {
  height: 1px;
  background-color: #adadad;
  margin: .8em -1em 1.2em 0;
  width: 100%;
}

.container{
    width: 100%;
    max-width: 960px;
    margin:100px auto;
    text-align: center;
}